@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #24252A;
}
li, a , button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end; /* ! CHANGED */ 
    /* * Pushes everything to the right. We pushed logo to the left */
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    /* * instead of going up and down they are stacked side by side */
    padding: 0 20px;
} 

.nav__links li a{
    transform: all 0.3s ease 0s; /* translate to bottom right */
}

.nav__links li a:hover{
    color: #0088a9;
}
button{
    margin-left: 20px;
    padding: 9px 25px;
    background: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background: rgba(0, 136, 169, 0.8);
}